VaccinationApplication/src/main/resources/static/xsd/Termin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.ftn.uns.ac.rs/termin" xmlns:term="http://www.ftn.uns.ac.rs/termin">

    <xs:element name="Termin">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="datumVreme" type="xs:dateTime" nillable="true"/>
                <xs:element name="jmbg" type="xs:string"/>
                <xs:element name="vakcina" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
